<%content_for :top_header do%>
    <div class="col-xs-8 p-0 text-center logo"><%=image_tag 'logo1.png' %></div>
    <div class="col-xs-2 p-0">
      <div class="icon_bars pull-right">
        <i class="fa fa-plus"></i>
      </div>
    </div>
<%end%>
<%content_for :top_header do%>
    <div role="tabpanel">
      <ul class="app_menu m-0 mt-50" role="tablist">
        <li role="presentation" class="col-xs-4 text-center">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
        </li>
        <li role="presentation" class="active col-xs-4 text-center">
          <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Organizations</a>
        </li>
        <li role="presentation" class="col-xs-4 text-center">
          <a href="#interest" aria-controls="interest" role="tab" data-toggle="tab">areas of interest</a>
        </li>
      </ul>
    </div>
<%end%>
<main id="main">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="home">
    </div>
    <div role="tabpanel" class="tab-pane active" id="tab">
      <div class="col-xs-12 bg-grey">
        <div class="container">
          <%=form_tag request.path ,:class=>'',:method=>:get do%>
              <div class="col-xs-7">
                <%=text_field_tag 'q' , params[:q],autocomplete: :off,:placeholder=>'Search....',:class=>'form-control custom_field',:id=>'query-search'%>
              </div>
              <div class="col-xs-5 ">
                <%=select_tag "type",options_for_search_types(params[:type]) ,class: "form-control",id: 'type-chosen'%>
              </div>
          <%end%>
        </div>
      </div>
      <div class="container">
        <%= render partial: "organizations/organization", collection: @organizations%>
        <%= will_paginate @organizations%>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="interest">
      <%=render :partial => "areas_of_interests"%>
    </div>
  </div>
</main>
<script type="text/javascript">
    autocomplete_data=<%=raw(get_tags_hash_for_autocomplete.to_json)%>
            set_autocomplete_for('#query-search');
    $('#type-chosen').change(function(){
        set_autocomplete_for('#query-search',$(this).val());
    });
</script>