<%note ||= Note.new %>
<%= form_for(note,html:{remote: true,class: 'form-horizontal'}) do |f| %>
    <%=f.hidden_field :organization_id,:value=>@organization.id%>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :description, :class => 'form-control' %>
      </div>
      <%=f.error_span(:address) %>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>
<% end %>
