<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @note.organization %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
