<li class="contact" id="contact_<%=contact.id%>">
  <div class="col-xs-12">
    <h4 class="name-title pull-left"><%=contact.full_name%> <i class="fa fa-dot-circle-o font-18 <%=contact.is_available? ? "green" : "red"%>"></i></h4>
    <div class="pull-right icon_edit_pincel">
      <a class="pr-10" data-href="<%=edit_contact_path(contact)%>" href="javascript:void(0)" onclick="handle_contact_updation(this);"><i class="fa fa-pencil"></i></a>
      <%=link_to 'javascript:void(0)', 'data-href'=>contact_path(contact) ,:onclick=>'handle_contacts_removal(this);' do%>
          <i class="fa fa-times"></i>
      <%end%>
    </div>
  </div>
  <div class="col-xs-12">
    <p class="light-text font-16"><%=contact.position%></p>
    <p class="light_blue font-18"><%=mail_to contact.email%></p>
    <p class="light-text font-18">Referred by <%=contact.referred_by%></p>
  </div>
</li>