<div class="modal fade" id="organizations-form">
  <%= form_for @organization, :html => { :class => "form-horizontal organization" ,multipart: true,remote:true} do |f| %>
      <div class="modal-dialog mb-20">
        <div class="modal-content">
          <div class="modal-body">
            <div class="mb-20">
              <%= f.text_field :name, :class => 'form-control' ,:placeholder=>"Name" %>
              <%=f.error_span(:name) %>
            </div>
            <div class="left-inner-addon mb-20">
              <span class="icon-user">http://</span>
              <%= f.text_field :url, :class => 'form-control' ,:placeholder=>"www.example.com" %>
              <%=f.error_span(:url) %>
            </div>
            <div class="mb-20">
              <%= f.select :organization_type_id, options_for_organization_types,{prompt: 'Choose Type'},:class => 'form-control' %>
              <%=f.error_span(:organization_type_id) %>
            </div>
            <div class="mb-20">
              <%= f.text_area :address, :class => 'form-control' ,:placeholder=>"Address"%>
              <%=f.error_span(:address) %>
            </div>
            <div class="mb-20">
              <%= image_tag @organization.logo.url(:thumb)%>
            </div>
            <div class="mb-20">
              <%= f.file_field :logo, :class => 'form-control' %>
              <%=f.error_span(:logo_file_name) %>
            </div>
            <div class="mb-20">
              <%= f.text_area :about, :class => 'form-control' ,:placeholder=>"About"%>
              <%=f.error_span(:about) %>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="custom_button" >Save</button>
        <br/>
        <br/>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
  <%end%>
</div>