<%=link_to organization_path(organization) do %>
    <div class="row organization-container">
      <div class="col-xs-3">
        <%=image_tag organization.logo.url(:thumb)%>
      </div>
      <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-12">
            <h2>
              <%=organization.name%>
            </h2>
          </div>
          <div class="col-xs-12">
      <span>
        <%=organization.address%>
      </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <p><%=organization.about%></p>
      </div>
      <div class="col-xs-12 organization-links">
        <ul class="list-inline">
          <li><span></span><%=organization.contacts.length%> Contact</li>
          <li><span></span><%=organization.tech_areas.length%> Tech Areas</li>
          <li><span></span><%=organization.app_areas.length%> Applications</li>
          <li><span></span><%=organization.problems.length%> Problems</li>
        </ul>
      </div>
    </div>
<%end%>