<div class="col-xs-12 p-0">
  <%=link_to organization_path(organization) do %>
  <div class="col-xs-12 box_asian mt-30">
    <div class="icon_div">
      <%=image_tag organization.logo.url(:thumb)%>
    </div>
    <div class="col-xs-10 custom_width">
      <h2 class="weight_bold"><%=organization.name%></h2>
      <p class="font-18 light-text"> <%=organization.address%></p>
      <p class="font-16 light-text">Last updated on <%=organization.last_updated_at%></p>
    </div>
    <div class="clearfix"></div>
    <p class="mtb-30 font-16 light-text "><%=organization.about%></p>
  </div>
  <div class="col-xs-12 <%=Organization::OrganizationTypesColors[organization.organization_type_id] %>  p-10">
    <ul class="custom_icon">
      <li class="col-xs-3 text-center"><%=image_tag("user.png",width:15)%>   <span><%=organization.contacts.length%> Contact</span></li>
      <li class="col-xs-3 text-center"><%=image_tag("g-cir.png",width:15)%>  <span><%=organization.tech_areas.length%> Tech Areas</span></li>
      <li class="col-xs-3 text-center"><%=image_tag("global.png",width:15)%> <span><%=organization.app_areas.length%> Applications</span></li>
      <li class="col-xs-3 text-center"><%=image_tag("vlc.png",width:15)%>    <span><%=organization.problems.length%> Problems</span></li>
    </ul>
  </div>
  <%end%>
</div>