<div class="col-xs-8 p-0 text-center">
  <div class="gover_icon">
    <%=link_to @organization.get_complete_url ,target: '_blank' do%>
        <%=image_tag(@organization.logo.url(:thumb))%>
    <%end%>
  </div>
  <h4 class="white-text font-28"><%=@organization.name%></h4>
  <p class="white-text"><span class="number_class <%=@organization.type_name%>"><%=Organization::OrganizationTypesFriendlyNames[@organization.organization_type_id]%></span></p>
  <p class="white-text font-16"><%=@organization.address%></p>
</div>
<div class="col-xs-2 p-0">
  <div class="icon_bars pull-right">
    <span class="top-link" data-href="<%=edit_organization_path(@organization)%>" onclick="handle_contact_updation(this)"><i class="fa fa-pencil"></i></span>
  </div>
</div>