<div class="col-xs-12">
  <div class="col-xs-12 text-center">
    <%=image_tag(@organization.logo.url(:thumb))%>
  </div>
  <div class="col-xs-12 text-center">
    <h1><%=@organization.name%></h1>
  </div>
  <div class="col-xs-12 text-center">
    <h3 class="<%=@organization.type_class%>">
      <%=Organization::OrganizationTypesFriendlyNames[@organization.organization_type_id]%>
    </h3>
  </div>

  <div class="col-xs-12 text-center">
    <h4><%=@organization.address%></h4>
  </div>
</div>
<div class="col-xs-12">
  <ul class="nav nav-tabs">
    <li class="active col-xs-4">
      <a data-toggle="tab" href="#profile_tab">Profile</a>
    </li>
    <li class="col-xs-4">
        <a data-toggle="tab" href="#areas_tab"><%=@organization.total_tags_count%> Areas of interest</a>
    </li>
    <li class="col-xs-4">
      <a data-toggle="tab" href="#notes_tab"><%=@organization.notes.length%> Notes</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div id="profile_tab" class="tab-panetab-pane fade in active col-xs-12">
    <div class="well">
      <h3>About Organization</h3>
      <p><%=@organization.about%></p>
    </div>
    <div class="well contacts">
      <div class="col-xs-6"><h3>Contacts at this organization</h3></div>
      <div class="col-xs-6">+ ADD</div>
    </div>
    <div class="well">
      <%@organization.contacts.each do|contact|%>
          <div class="col-xs-12">
            <div class="col-xs-8">
              <%=contact.full_name%> status
            </div>
            <div class="col-xs-4">
              edit,remove
            </div>
            <div class="col-xs-12">
              <%=contact.position%>
            </div>
            <div class="col-xs-12">
              <%=contact.email%>
            </div>
            <div class="col-xs-12">
              Referred by <%=contact.referred_by%>
            </div>
          </div>
      <%end%>
    </div>
  </div>
  <div id="areas_tab" class="tab-pane fade col-xs-12">
    <div class="col-xs-12">
      Technology Areas of Interest
      <span class="pull-right">+ ADD</span>
    </div>
    <div class="well-col-xs-12">
      <ul class="list-unstyled">
        <%@organization.tech_areas do |tech_area|%>
            <li>
              <div class="col-xs-8">
                <%=tech_area%>
              </div>
              <div class="col-xs-4">
                Edit,Remove
              </div>
            </li>
        <%end%>
      </ul>
    </div>
    <div class="col-xs-12">
      Application Areas of Interest
      <span class="pull-right">+ ADD</span>
    </div>

    <div class="well-col-xs-12">
      <ul class="list-unstyled">
        <%@organization.app_areas do |app_area|%>
            <li>
              <div class="col-xs-8">
                <%=app_area%>
              </div>
              <div class="col-xs-4">
                Edit,Remove
              </div>
            </li>
        <%end%>
      </ul>
    </div>
    <div class="col-xs-12">
      Problems
      <span class="pull-right">+ ADD</span>
    </div>
    <div class="well col-xs-12">
      <ul class="list-unstyled">
        <%@organization.problem_list.each do |problem|%>
            <li>
              <div class="col-xs-8">
                <%=problem%>
              </div>
              <div class="col-xs-4">
                Edit,Remove
              </div>
            </li>
        <%end%>
      </ul>
    </div>
  </div>
  <div id="notes_tab" class="tab-pane fade col-xs-12">
    <div class="well col-xs-12">
      <a href="#">WRITE A NEW NOTE</a>
    </div>
    <%=render :partial => "notes/show" , collection: @organization.notes%>
  </div>
</div>
