
<%content_for :top_header do%>
    <div class="col-xs-8 p-0 text-center">
      <div class="gover_icon">
        <%=link_to @organization.get_complete_url ,target: '_blank' do%>
            <%=image_tag(@organization.logo.url(:thumb))%>
        <%end%>
      </div>
      <h4 class="white-text font-28"><%=@organization.name%></h4>
      <p class="white-text"><span class="number_class <%=@organization.type_name%>"><%=Organization::OrganizationTypesFriendlyNames[@organization.organization_type_id]%></span></p>
      <p class="white-text font-16"><%=@organization.address%></p>
    </div>
    <div class="col-xs-2 p-0">
      <div class="icon_bars pull-right">
        <span class="top-link" data-href="<%=edit_organization_path(@organization)%>" onclick="handle_contact_updation(this)"><i class="fa fa-pencil"></i></span>
      </div>
    </div>
<%end%>
<%content_for :top_header_container do%>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="app_menu m-0 mt-50" role="tablist">
        <li role="presentation" class="active col-xs-4 text-center">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li role="presentation" class=" col-xs-4 text-center">
          <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab"><%=@organization.total_tags_count%> Areas of Interest</a>
        </li>
        <li role="presentation" class="col-xs-4 text-center">
          <a href="#interest" aria-controls="interest" role="tab" data-toggle="tab"><%=@organization.notes.length%> Notes</a>
        </li>
      </ul>
      <!-- Tab panes -->
    </div>
<%end%>
<main id="main">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="col-xs-12 bg-grey">
        <div class="container">
          <div class="col-xs-12 p-0 mtb-30">
            <h2 class="about_title">About Organization</h2>
            <p class="font-18 light-text"><%=@organization.about%></p>
          </div>
        </div>
      </div>
      <%= render :partial => 'contacts' %>
    </div>
    <div role="tabpanel" class="tab-pane " id="tab">
      <div class="container">
        <div class="col-xs-12 mtb-20">
          <h3 class="about_title pull-left">Technology Areas of Interest</h3>
          <a class="pull-right add_option add_edit_tag" href="javascript:void(0);" data-action="<%=add_tech_area_organization_path(@organization) %>"><i class="fa fa-plus"></i> ADD</a>
        </div>
        <div class="col-xs-12">
          <ul class="gover_list tech_areas_list">
            <%@organization.tech_areas.each do |tech_area|%>
                <%= render :partial => 'tech_area' ,:locals=>{:tech_area=>tech_area}%>
            <%end%>
          </ul>
        </div>
        <div class="col-xs-12 mtb-20">
          <h3 class="about_title pull-left">Application Areas of Interest</h3>
          <a class="pull-right add_option add_edit_tag" href="javascript:void(0);" data-action="<%=add_app_area_organization_path(@organization) %>"><i class="fa fa-plus"></i> ADD</a>
        </div>
        <div class="col-xs-12">
          <ul class="gover_list app_areas_list">
            <%@organization.app_areas.each do |app_area|%>
                <%= render :partial => 'app_area',:locals=>{:app_area=>app_area} %>
            <%end%>
          </ul>
        </div>
        <div class="col-xs-12 mtb-20">
          <h3 class="about_title pull-left">Problems</h3>
          <a class="pull-right add_option add_edit_tag" href="javascript:void(0);" data-action="<%=add_problem_organization_path(@organization) %>"><i class="fa fa-plus"></i> ADD</a>
        </div>
        <div class="col-xs-12">
          <ul class="gover_list problems_list">
            <%@organization.problem_list.each do |problem|%>
                <%= render :partial => 'problem' ,:locals=>{:problem=>problem}%>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="interest">
      <div class="container notes-container">
        <div class="write_DIV">
          <h3><a href="javascript:void(0);" onclick="handle_contact_updation(this)" data-href="<%=new_note_path(organization_id: @organization.id) %>">write a new note</a></h3>
        </div>
      </div>
      <%=render :partial => "notes/note", collection: @organization.notes%>
    </div>
  </div>


  <div class="modal fade tags-modal" id="modal-id2">
    <%=form_tag "#",remote: true ,onsubmit:'handle_tags_submission();' do%>
        <div class="modal-dialog mb-20">
          <div class="modal-content">
            <div class="modal-body">
              <div class="left-inner-addon mb-20">
                <%=text_field_tag :tag,'',class: 'form-control tags-autocomplete',id:'tag_input',placeholder:'Type here to search tags'%>
                <%= hidden_field_tag 'previous_tag','',id:'previous_tag_input'%>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="custom_button">Save</button>
          <br/>
          <br/>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
    <%end%>
  </div>

  <div id="contact-form-container"></div>


</main>
<script type="text/javascript">
    autocomplete_data=<%=raw(get_tags_hash_for_autocomplete.to_json)%>
            set_autocomplete_for('#tag_input');
    $(document).ready(function(){
        handle_tag_updation();
        handle_tags_removal();
    });
</script>
<style type="text/css">
    .easy-autocomplete{
        width: 100% !important;
    }
    div#eac-container-tags_autocomplete ul li {
        padding: 10px 20px;
        border-bottom: 1px solid rgb(221, 221, 221);
        border-left: none;
        border-right: none;
    }
</style>