
<%content_for :top_header do%>
    <div class="col-xs-8 p-0 text-center">
      <div class="gover_icon">
        <%=image_tag(@organization.logo.url(:thumb))%>
      </div>
      <h4 class="white-text font-28"><%=@organization.name%></h4>
      <p class="white-text"><span class="number_class"><%=Organization::OrganizationTypesFriendlyNames[@organization.organization_type_id]%></span></p>
      <p class="white-text font-16"><%=@organization.address%></p>
    </div>
    <div class="col-xs-2 p-0">
      <div class="icon_bars pull-right">
        <i class="fa fa-pencil"></i>
      </div>
    </div>
<%end%>
<%content_for :top_header_container do%>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="app_menu m-0 mt-50" role="tablist">
        <li role="presentation" class="active col-xs-4 text-center">
          <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li role="presentation" class=" col-xs-4 text-center">
          <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab"><%=@organization.total_tags_count%> Areas of Interest</a>
        </li>
        <li role="presentation" class="col-xs-4 text-center">
          <a href="#interest" aria-controls="interest" role="tab" data-toggle="tab"><%=@organization.notes.length%> Notes</a>
        </li>
      </ul>
      <!-- Tab panes -->
    </div>
<%end%>
<main id="main">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="col-xs-12 bg-grey">
        <div class="container">
          <div class="col-xs-12 p-0 mtb-30">
            <h2 class="about_title">About Organization</h2>
            <p class="font-18 light-text"><%=@organization.about%></p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="col-xs-12">
          <h3 class="about_title pull-left">CONTACTS AT THIS ORGANIZATION</h3>
          <a class="pull-right add_option" href=""><i class="fa fa-plus"></i> ADD</a>
        </div>
        <div class="col-xs-12">
          <ul class="gover_list">
            <%@organization.contacts.each do|contact|%>
                <li>
                  <div class="col-xs-12">
                    <h4 class="name-title pull-left"><%=contact.full_name%> status</h4>
                    <div class="pull-right icon_edit_pincel">
                      <%=link_to edit_contact_path(contact) ,class: 'pr-10' do%>
                          <i class="fa fa-pencil"></i>
                      <%end%>
                      <%=link_to contact_path(contact),
                                 :method => 'delete' do%>
                          <i class="fa fa-times"></i>
                      <%end%>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <p class="light-text font-16"><%=contact.position%></p>
                    <p class="light_blue font-18"><%=contact.email%></p>
                    <p class="light-text font-18">Referred by <%=contact.referred_by%></p>
                  </div>
                </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane " id="tab">
      <div class="container">
        <div class="col-xs-12 mtb-20">
          <h3 class="about_title pull-left">Technology Areas of Interest</h3>
          <a class="pull-right add_option" href=""><i class="fa fa-plus"></i> ADD</a>
        </div>
        <div class="col-xs-12">
          <ul class="gover_list">
            <%@organization.tech_areas.each do |tech_area|%>
                <li class="p-10">
                  <div class="col-xs-12">
                    <h4 class="font-26 pull-left light-text"><%=tech_area%></h4>
                    <div class="pull-right icon_edit_pincel mt-10">
                      <a class="pr-10" href=""><i class="fa fa-pencil"></i></a>
                      <%=link_to remove_tag_organization_path(id: @organization.id ,tag: tech_area,type: Organization::TechKeyWord),
                                 :method => 'delete' do%>
                          <i class="fa fa-times"></i>
                      <%end%>
                    </div>
                  </div>
                </li>
            <%end%>
          </ul>
        </div>
        <div class="col-xs-12 mtb-20">
          <h3 class="about_title pull-left">Application Areas of Interest</h3>
          <a class="pull-right add_option" href=""><i class="fa fa-plus"></i> ADD</a>
        </div>
        <div class="col-xs-12">
          <ul class="gover_list">
            <%@organization.app_areas.each do |app_area|%>
                <li class="p-10">
                  <div class="col-xs-12">
                    <h4 class="font-26 pull-left light-text"><%=app_area%></h4>
                    <div class="pull-right icon_edit_pincel mt-10">
                      <a class="pr-10" href=""><i class="fa fa-pencil"></i></a>
                      <%=link_to remove_tag_organization_path(id: @organization.id ,tag: tech_area,type: Organization::AppKeyWord),
                                 :method => 'delete' do%>
                          <i class="fa fa-times"></i>
                      <%end%>
                    </div>
                  </div>
                </li>
            <%end%>
          </ul>
        </div>
        <div class="col-xs-12 mtb-20">
          <h3 class="about_title pull-left">Problems</h3>
          <a class="pull-right add_option" href=""><i class="fa fa-plus"></i> ADD</a>
        </div>
        <div class="col-xs-12">
          <ul class="gover_list">
            <%@organization.problem_list.each do |problem|%>
                <li class="p-10">
                  <div class="col-xs-12">
                    <h4 class="font-26 pull-left light-text"><%=problem%></h4>
                    <div class="pull-right icon_edit_pincel mt-10">
                      <a class="pr-10" href=""><i class="fa fa-pencil"></i></a>
                      <%=link_to remove_tag_organization_path(id: @organization.id ,tag: problem,type: Organization::ProblemKeyWord),
                                 :method => 'delete' do%>
                          <i class="fa fa-times"></i>
                      <%end%>
                    </div>
                  </div>
                </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="interest">
      <div class="container">
        <div class="write_DIV">
          <h3><button onclick="$('#notes-form-container').slideToggle();">write a new note</button></h3>
        </div>
        <div style="display: none" id="notes-form-container" class="notes-form">
          <%=render :partial =>  "notes/form"%>
        </div>
      </div>
      <%=render :partial => "notes/note", collection: @organization.notes%>
    </div>
  </div>
</main>